@use "../../../presets/index" as *;
@use "../../../mixins/index" as *;

.controls {
  display: flex;
  justify-content: center;
  gap: $gap;
  user-select: none;
  margin-bottom: $gap;
}

.control {
  position: absolute;
  z-index: 2;
  height: $gap-x2;
  min-width: $gap-x2;
  cursor: pointer;
  user-select: none;
  color: $color-grey;
  transition: 0.5s;  

  &.prev{
    top: 50%;
    left: 0px;
    transform: translate(0, -50%);
    padding-left: 50px;
    font-size: 3rem;
  }
  
  &.next{
    top: 50%;
    right: 0px;
    transform: translate(0, -50%);
    padding-right: 50px;
    font-size: 3rem;
  }
  &.pause{
    top: 36%;
    color: $color-grey;
    font-size: 20vh;
    opacity: 0;
  }
&.prev:hover,
&.next:hover {
  color: $color-light;
  text-shadow: 0 0 $gap-sm $color-light;
}
&.pause:hover {
  opacity: .6;
}
}


