@use "../../../presets/index" as *;
@use "../../../mixins/index" as *;


.slide-container{
  @extend %container;
  position: relative;
}

.slides {
  position: relative;
  height: 100vh;
  margin: $gap;
  padding: 0;
  list-style-type: none;
  background: $color-dark;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: $gap-x2;
  opacity: 0;
  font-size: $gap-x2;


  &:nth-of-type(1) {
    background: url(/assets/img/image1.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  &:nth-of-type(2) {
    background: url(/assets/img/image2.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  &:nth-of-type(3) {
    background: url(/assets/img/image3.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  &:nth-of-type(4) {
    background: url(/assets/img/image4.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  &:nth-of-type(5) {
    background: url(/assets/img/image5.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.active {
  opacity: 1;
  z-index: 0;
}





